.env
*.env

__pycache__/
*.py[cod]

node_modules/
AIsocket/

dist/
build/
out/
release/
*.log
*.apk

.expo/
.gradle/
mobile/android/app/.cxx/
mobile/android/app/build/
mobile/android/build/
mobile/android/.gradle/

.DS_Store
Thumbs.db
